:root {
  --primary-font-family: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --revers-color: #2196f3;
}
/* ========= START COMPONENTS ========= */
body {
	font-family: "Roboto", sans-serif;
	color: var(--secondary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-first-word {
  color: var(--revers-color);
}

.unvisible-title {
  visibility: hidden;
}
/* ========= END COMPONENTS ========= */

/* ========= START STUDIO ========= */

/* ========= START HEAD ========= */
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.all-time-color {
	color: var(--revers-color);
}

.contact-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.nav-list-link:hover,
.nav-list-link:focus,
.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--revers-color);
}
/* ========= END HEAD ========= */

/* ========= START HERO ========= */
.hero {
	background-color: #2F303A;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--revers-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}
/* ========= END HERO ========= */

/* ========= START FEATURES ========= */
.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.features-item-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ========= END FEATURES ========= */

/* ========= START WORK DESCRIPTION ========= */
.work-description-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* ========= END WORK DESCRIPTION ========= */

/* ========= START TEAM ========= */
.team {
	background-color: #F5F4FA;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-member-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ========= END TEAM ========= */

/* ========= START FOOTER ========= */
.footer {
  background-color: #2f303a;
}

.revers-logo {
  color: #ffffff;
}

.address-list-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.another-color {
	color: #ffffff;
}

.address-list-link:hover,
.address-list-link:focus {
  color: #ffffff;
}
/* ========= END FOOTER ========= */

/* ========= END STUDIO ========= */

/* ========= START PORTFOLIO ========= */
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: #F5F4FA;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--revers-color);
}

.work-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.work-item-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* ========= END PORTFOLIO ========= */