:root {
  --primary-font-family: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --revers-color: #2196f3;
}
/* ========= START COMPONENTS ========= */
body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.logo {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-first-word {
  color: var(--revers-color);
}

.unvisible-title {
  visibility: hidden;
  height: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
}
/* ========= END COMPONENTS ========= */

/* ========= START STUDIO ========= */

/* ========= START HEAD ========= */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.all-time-color {
  color: var(--revers-color);
}

.contact-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.nav-list-link:hover,
.nav-list-link:focus,
.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--revers-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 92px;
}

.main-nav {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.mail {
  margin-right: 50px;
}
/* ========= END HEAD ========= */

/* ========= START HERO ========= */
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  width: 696px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--revers-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}
/* ========= END HERO ========= */

/* ========= START FEATURES ========= */
.features-list {
  display: flex;
}

.features-list-item {
  width: 270px;
}

.features-list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.features-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.features-item-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ========= END FEATURES ========= */

/* ========= START WORK DESCRIPTION ========= */
.work-description-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.work-description-list {
  display: flex;
  justify-content: space-between;
  flex-basis: calc((100%-90px) / 3);
  margin-bottom: 94px;
}
/* ========= END WORK DESCRIPTION ========= */

/* ========= START TEAM ========= */
.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
  flex-basis: calc((100%-120px) / 4);
}

.team-list-item {
  background: #ffffff;
  border-radius: 0 0 4px 4px;
}

.team-member-name {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-member-profession {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ========= END TEAM ========= */

/* ========= START FOOTER ========= */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.revers-logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

.address-list-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.another-color {
  color: #ffffff;
}

.address-list-link:hover,
.address-list-link:focus {
  color: #ffffff;
}
/* ========= END FOOTER ========= */

/* ========= END STUDIO ========= */

/* ========= START PORTFOLIO ========= */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
}

.first-btn {
  padding: 6px 25px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--revers-color);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.work-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.border-box {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.work-item-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.work-item-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* ========= END PORTFOLIO ========= */
